<h2><span>Funny <%= @tag.name.titlecase %> Jokes</span></h2>

  <ol class="rectangle-list">
      <% @tag.jokes.each do |joke| %>
          <li><%= link_to joke.title, joke_path(joke) %></li> 
      <% end %>
  </ol>