<h1><%= @tag.name.titlecase %> Jokes</h1>
<br />
<br />
  <% @tag.jokes.each do |joke| %>
    <h1><%= joke.title %></h1>
    <h2><%= joke.saying.html_safe %></h2>
    <h3><%= joke.author %></h3>
  <% end %>
