<h2><span><%= @tag.name.titlecase %> Jokes</span></h2>
  <% @tag.jokes.each do |joke| %>
    <h3><%= joke.saying.html_safe %></h3>
    <br />
    <p>Tags:
		<% joke.tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag) %>
		<% end %>
    </p>


    <p><%= social_share_button_tag(joke.saying.truncate(120)) %></p>
    <hr />
  <% end %>
