@import url(https://fonts.googleapis.com/css?family=Cantarell);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

.mainbody {
    margin-top: 100px;
}

body {
  background-color: white;
}

.clear {
  clear:both;
}


.logo-text {
  float: left;
  margin-top: 0px;
  font-size: 28px;
  line-height: 20px;
  color: #F5F3F5;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}


hr {
  clear:both;
}

h1 {
}

h2 {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 0 23px 0;
  color: black;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}


.logo:hover {
  text-decoration:none;
}

.about {
  font-family: "Slabo 27px", serif;
}


.modal {
  font-family: "Slabo 27px", serif;
}

.square1 {
    background-color: #1B264F;
    color: #F5F3F5;
}

.square2 {
    background-color: #274690;
    color: #F5F3F5;
}

.square3 {
    background-color: #576CA8;
    color: #F5F3F5;
}

.square4 {
    background-color: #302B27;
    color: #F5F3F5;
}

.row a {
  color: #F5F3F5;
  text-decoration: none;
}

.dummy {
    margin-top: 100%;
}

.thumbnail {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #F5F3F5;
    text-decoration: none;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
    opacity: 1.0;
    background-color: rgba(0, 0, 0, 0);
}

.row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;
}

@media (max-width: 750px) {
  .thumbnail {
        font-size: 95%;
        top: 20px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #274690;
  text-align: center;
}

.footer a {
  color: #F5F3F5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Cantarell', sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #F5F3F5;
}

.navbar-inverse { 
  background-color: #274690;
}

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
  background-color: #1B264F;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #1B264F}
.dropdown-menu { background-color: #274690}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #1B264F}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #274690}
.navbar-inverse .navbar-brand { color: #F5F3F5}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #F5F3F5}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #F5F3F5}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


.saying {
  background-color: #274690;
  color: white;
  font-weight:normal;
  text-align:left;
  padding: 50px 50px;
  font-family: 'Cantarell', sans-serif;
  font-size: 17px;
  line-height: 23px;
  margin: 0 0 23px 0;
}

.meta {
  text-align: right;
}

.metatitle {
  color: #274690;
  font-family: 'Cantarell', sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.metafield {
  font-family: 'Cantarell', sans-serif;
  font-size: 10px;
}

.metafield a {
  color: black;
}

.metalinks {
  text-decoration: none;
  border-bottom: 1px black dotted;
}

a:hover {
  text-decoration: none;
}

.navbar-nav {
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.circle-list li{
    padding: 2.5em;
    border-bottom: 1px dashed #ccc;
}

.circle-list h2{
    position: relative;
    margin: 0;
}

.circle-list p{
    margin: 0;
}

.circle-list h2:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;    
    z-index: -1;
    left: -1.3em;
    top: -.8em;
    background: #f5f5f5;
    height: 1.5em;
    width: 1.5em;
    border: .1em solid rgba(0,0,0,.05);
    text-align: center;
    font: italic bold 1em/1.5em Georgia, Serif;
    color: #ccc;
    border-radius: 1.5em;
    transition: all .2s ease-out;    
}

.circle-list li:hover h2:before{
    background-color: #87ceeb;
    border-color: rgba(0,0,0,.08);
    border-width: .2em;
    color: #444;
    transform: scale(1.5);
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

