<div class="col-sm-12 saying">
<p><%= @joke.saying.html_safe %></p>
</div>

<br class="clear" />
<p><%= social_share_button_tag(@joke.title, :popup => "true") %></p>
<p>
	Tags:
	<% @joke.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
	
<br />
<%= link_to "Back to Jokes List", :back %>
