<div class="col-sm-12 saying">
<p><%= @joke.saying.html_safe %></p>
</div>

<br class="clear" />
<p>
	Tags:
	<% @joke.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
	<p>Share: <%= social_share_button_tag(@joke.title) %></p>
<br />
<br />


